glonet_daily_forecast_data_orchestration/src/__pycache__/
glonet_daily_forecast_local/src/*.sh
glonet_daily_forecast_local/src/*.ipynb
TrainedWeights/
*.log
glonet_daily_forecast_local/src/__pycahe__/
tmp.ipynb
output/
outputs/
sb_*.sh
src/__pycache__/
__pycache__/
*.nc
.vscode/
training/data/