glonet_daily_forecast_data_orchestration/src/__pycache__/
glonet_daily_forecast_local/*.sh
glonet_daily_forecast_local/*.ipynb
glonet_daily_forecast_local/__pycache__/
TrainedWeights/
*.log
tmp.ipynb
output/
sb_*.sh
outputs/
__pycache__/
*.nc
training/src/__pycache__/
training/data/
.vscode/